.colorAzul{
    color: blue;
}
 .colorCafe{
    color: burlywood;
 }
 .parrafo{
    color: rgb(147, 99, 192);
    background-color: #caacf9;
    font-size: 16px;
 }
 p{
    font-size: 32px;
 }
 .lista p h1{
    color: brown;
    font-size: 16px;
 }
 h1{
    color: #caacf9;
    font-size: 16px;
 }
 .titulo h1{
   color: #bc98f3;
   font-size: 32px;
   text-align: center;
}

.titulo h2{
   color: #bc98f3;
   font-size: 26px;
}

.pagina p{
   color: #d3bcf6;
   font-size: 20px;
}
