.colorAzul{
    color: blue;
}
 .colorCafe{
    color: burlywood;
 }
 .parrafo{
    color: rgb(147, 99, 192);
    background-color: #caacf9;
    font-size: 16px;
 }
 p{
    font-size: 32px;
 }
 .lista p h1{
    color: brown;
    font-size: 16px;
 }
 h1{
    color: #caacf9;
    font-size: 16px;
 }